<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Artist Profile</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>

    <div id="navbar-container"></div>

    <div id="artist-profile">

        <!-- artist profile generated dynamically in artist.js -->
    
    </div>
    
<div id="jsonData" style="display: none;" data-suggest="{{suggest}}">{{jsonData}}</div>
<script src="/static/js/artist.js"></script>
<script src="/static/js/home.js"></script>
<script src="/static/js/navFetch.js"></script>
</body>
</html>