<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Home</title>
</head>
<body>

    <div id="navbar-container"></div>
    
    <div class="home-bio">

        <h1 class="welcome-h">Track your spotify footprint</h1>
        <p class="bio">
            Dashboard is a web app made using the Spotify API providng stats on your music profile! You can view your playlists and current top tracks. This web app was made with Flask backend using Python and html/css with JavaScript frontend dynamically-generated effects.
        </p> <br>
        
        <p>
            Log in with Spotify here to view your profile!
        </p><br>

        <div id="flash-container"></div>

        <p id="about" class="bio">
            More about the app <br>
            This app's back-end is powered by Flask and written in Python. The website is deployed using Heroku. The front-end is written in HTML/CSS. I decided against using CSS frameworks or HTML templates. In order to use this project to learn how to design pages completely on my own. Unfortunately, the main pages are not available unless you have a Spotify account (free or premium) and agree to the terms.  
        </p>

    </div>
    <div id="jsonData" style="display: none;" data-flash="{{flash}}" data-log="{{logged_in}}"></div>

    <script src="/static/js/navFetch.js"></script>
    <script src="/static/js/home.js"></script>    
</body>
</html>
