<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <div class="img"> 
                <li><img class="nav-icon" src="https://i.imgur.com/gt9KmZP.jpeg"></li>
                </div>
            <div class="text">
                <li><h2 class="nav-heading">Wxlfify</h2></li>
                </div>
            <li><a href="/home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/playlists">Playlists</a></li>
        </ul>
    </nav>
    <div class="home-bio">
        <h1 class="welcome-h">Welcome to Wxlfify :)</h1>
        <p class="bio"> Wxlfify is a web app made using the Spotify API providng stats on your music profile! You can view your playlists and current top tracks. This web app was made with flask backend using python and html/css with jinja templating.</p> <br>
        
        <p>Login with Spotify here to view your profile!</p><br>

        <button id="loginButton">Log in</button>

  <script>
    document.getElementById("loginButton").addEventListener("click", function() {
      window.location.href = "/login";
    });
  </script>
    </div>
    
</body>
</html>