<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="/path/to/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <div class="img"> 
            <li><img class="nav-icon" src="https://i.imgur.com/gt9KmZP.jpeg"></li>
            </div>
            <div class="text">
            <li><h2 class="nav-heading">Wxlfify</h2></li>
            </div>
            <div class="text" id="nav-text">
            <li><a href="/home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/playlists">Playlists</a></li>
            </div>
        </ul>
    </nav>
    <div class="top-line"> 
    </div>
    <div class="container">
        {% for playlist in playlists['items'] %}
        <div class="item">
            <li>
                <div class="playlist-info">
                    {% if playlist['images'] %}
                        <img class="playlist-cover" src="{{ playlist['images'][0]['url'] }}" alt="Playlist Image"><br>
                    {% endif %}
                    <strong><a class="playlist-name" href="/playlist/{{ playlist['id'] }}/tracks">{{ playlist['name'] }}</a></strong><br>
                    {% if playlist['description'] %}
                        <em>{{ playlist['description'] }}</em><br>
                    {% endif %}
                </div>
            </li>
        </div>
        {% endfor %}
    </div>
</body>
</html>