<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Tracks</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tracks.css') }}">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/playlists">Playlists</a></li>
            
        </ul>
    </nav>

    <h1>Playlist Tracks</h1>
    <div class="tracks-container">
        <ul>
            {% for item in tracks['items'] %}
                {% set track = item['track'] %}
                {% if track and track['external_urls'] and track['artists'] %}
                    <li>
                        <strong>
                            <a href="{{ track['external_urls']['spotify'] }}" target="_blank">
                                {{ track['name'] }}
                            </a>
                        </strong> - {{ track['artists'][0]['name'] }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</body>
</html>